body {
    font-family: Arial;
    text-align: center;
    background: white;
    color: black;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.dark {
    background: #121212;
    color: white;
}
